body {
  background-color: #F1DEDE;
  display: block;
  padding: 150px;
}

h1 {
  color: #D496A7;
  font-family: 'Abril Fatface', cursive;
  font-weight: lighter;
  font-size: 45px;
  text-align: center;
}

h2 {
  font-family: 'Prata', serif;
  color: white;
}

p {
  font-family: 'Prata', serif;
  color: #707175;
  text-align: justify;
}

.container {
  padding: 50px;
  border: 3px solid white;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
}

.card {
  border: 3px solid white;
  border-radius: 5px;
  font-family: 'Prata', serif;
  color: white;
  margin-bottom: 20px;
  border-radius: 5px;

}

.text-center {
  text-align: center;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  text-decoration: none;
}

.list-inline {
  padding-left: 0px;
  font-size: 35px;
}

a {
  text-decoration: none;
  padding: 10px;
  color: #D496A7;
}

.bands {
  border: 3px solid white;
  border-radius: 5px;
  font-family: 'Prata', serif;
  color: white;
  margin-bottom: 20px;
  border-radius: 5px;
}

.profile-pic {
  border-radius: 150px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
